@charset "UTF-8";

/* CSS Document */


/*
Theme Name: BRANDREVALUE_SP
Description: BRANDREVALUE SP用テーマ
Theme URI: none
Author: summersnow.Co.,Ltd
Author URI: http://summer-snow.co.jp
Version: 1.0
License: summersnow.Co.,Ltd
License URI: http://summer-snow.co.jp
*/


/* 共通CSS */

body {
    line-height: 1.3;
}

img {
    width: 100%;
}

.container {
    /*border-top: 9px solid #536fab;*/
    width: 100%;
    font-family: Meiryo, "メイリオ", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/* ヘッダーナビ */

.container header {

}

.container .top_logo {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width: 45%;
}

.head_tab {
    padding: 10px 0 0 0;
    border-bottom: solid 5px #536fab;
}

.head_tab ul {
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0 0;
    padding: 0;
}

.head_tab a {
    color: #536fab;
    text-decoration: none;
}

.head_tab li {
    margin-right: 10px;
    float: left;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    padding: 7px 10px 5px 0;
    font-size: 10px;
    list-style: none;
}

.head_tab .tab01 {
    background: url(/wp-content/themes/bring_sp/images/tab_ic01.png) no-repeat 7px 9px #536fab;
    padding-left: 40px;
    color: #FFFFFF;
    border-top: solid 1px #536fab;
    border-left: solid 1px #536fab;
    border-right: solid 1px #536fab;
}

.head_tab .tab02 {
    background: url(/wp-content/themes/bring_sp/images/tab_ic02.png) no-repeat 9px 9px #fbfcfe;
    padding-left: 30px;
    border-top: solid 1px #536fab;
    border-left: solid 1px #536fab;
    border-right: solid 1px #536fab;
}

.container .top_logo img {
    width: 100%;
}

.ico_bx {
    overflow: hidden;
    margin: 20px 10px 10px 0;
    float: right;
    width: 32%;
}

.container .top_logo img {
    width: 100%;
}

.container .tel_ico {
    float: left;
    width: 24%;
    margin-right: 10px;
}

.container .tel_ico img {
    width: 100%;
}

.container .line_ico {
    float: left;
    width: 30%;
    margin-right: 10px;
}

.container .line_ico img {
    width: 100%;
}

.container .button-toggle {
    margin-top: 2px;
    width: 25%;
    float: left;
}

.container .button-toggle img {
    width: 100%;
}

.container .menu {
    display: none;
}

.container .menu li a {
    color: #fff;
    display: block;
    background: #27374d;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    border-bottom: 1px dotted #fff;
    text-indent: 10px;
}


/* 店鋪情報、フッター */

p.info_tl {
    width: 80%;
    margin: 20px 0 15px 0;
}

.str_info {
    width: 95%;
    margin: 0 2.5%;
}

p.str_name {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

.container .info {
    margin-top: 0px;
}

.container dt {
    font-size: 18px;
    line-height: 1.4;
}

.container footer {
    background: #536fab;
    margin-top: 20px;
}

.foot_logo {
    padding: 30px 0 0 2.5%;
    width: 70%;
}

.list_wrap {
    overflow: hidden;
}

.container .foot_list_l {
    width: 45%;
    float: left;
    margin: 15px 2.5% 0;
}

.container .foot_list_l h4 {
    font-size: 24px;
    font-weight: bold;
    color: #c0c0c0;
    border-bottom: 1px dotted #c0c0c0;
}

.container .foot_list_l p {
    color: #c0c0c0;
    font-size: 14px;
    margin-top: 10px;
}

.container .foot_list_r {
    width: 45%;
    float: left;
    margin: 15px 2.5% 0;
}

.container .foot_list_r h4 {
    font-size: 24px;
    font-weight: bold;
    color: #c0c0c0;
    border-bottom: 1px dotted #c0c0c0;
}

.container .foot_list_r p {
    color: #c0c0c0;
    font-size: 14px;
    margin-top: 10px;
}

.copy {
    clear: both text-align: center;
    border-top: 1px solid #c0c0c0;
    margin-top: 37px;
    padding-bottom: 15px;
    text-align: center;
}

.container small {
    font-size: 9px;
    color: #c0c0c0;
}

#pageTop {
    position: fixed;
    bottom: 120px;
    right: 1%;
}

#pageTop img {
    width: 60%;
}


/* topPgasCSS */

.container .mv_area img {
    width: 100%;
}

.container .more_bx {
    overflow: hidden;
    margin: 0 3%;
    width: 94%;
}

.container .more_bx li {
    float: left;
    width: 50%;
}

.container .point_cnt {
    background: #f5f5f5;
    margin: 10px 0;
}

.container .point_cnt img {
    width: 100%;
    margin: 0px 0 20px;
}

.container .cv_btn {
    width: 94%;
    margin: 0 3% 20px 3%;
}

.container .cv_btn li {
    width: 100%;
    margin: 0 0% 15px 0%;
}

.container .topItem_cnt h2 img {
    width: 95%;
    margin: 0px 2.5% 25px;
}

.container .topItem_list {
    overflow: hidden;
}

.container .topItem {
    width: 30%;
    float: left;
    padding: 5px 1%;
    margin: 5px 1.6%;
    border: 1px solid #ccc;
    box-sizing: border-box
}

.container .item_name {
    font-size: 12px;
    margin-top: 5px;
    line-height: 1.3em;
    height: 50px;
}

.container .item_watch {
    font-size: 11px;
    margin-top: 5px;
    line-height: 1.3em;
    height: 60px;
}

.container .item_dia small {
    font-size: 11px;
    margin-top: 5px;
    line-height: 1.3em;
    height: 45px;
}

.container .item_date {
    font-size: 9px;
    margin-top: 5px;
    line-height: 1.3em;
    height: 100px;
}

.container .item_price {
    font-weight: bold;
    color: #be0000;
    text-align: center;
    font-size: 12px;
}

.container .item_price small {
    font-weight: bold;
    color: #be0000;
    font-size: 10px;
}


/* 会社概要CSS */

#company {
    padding-left: 10px;
    padding-right: 10px;
}

#company table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-bottom: 25px;
}

#company table th {
    background-color: #f2f2f2;
    font-weight: bold;
    width: 35%;
    padding: 10px 0;
    vertical-align: middle;
    border: 1px solid #b1b1b1;
}

#company table td {
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #b1b1b1;
    border-left: none;
}

.company_cont .ttl {
    border-top: solid 1px #10223a !important;
    border-bottom: solid 1px #10223a !important;
    color: #10223a !important;
    font-weight: bold;
    font-size: 16px;
    background: none;
    padding: 10px;
    margin-bottom: 10px;
}

.company_cont p {
    font-size: 14px;
    line-height: 1.8;
    color: #333333;
    margin-bottom: 30px;
}


/* よくある質問CSS */

.faq dt {
    font-size: 18px;
    background-color: #f5f5f5;
    padding: 15px 20px 15px 20px;
    padding-left: 50px;
    position: relative;
    font-weight: bold;
}

.faq dt:before {
    content: "Q";
    font-size: 22px;
    color: #1e58a1;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 20px;
    margin: auto;
}

.faq dd {
    font-size: 14px;
    padding: 10px 20px 20px 50px;
    position: relative;
    border-bottom: 1px dotted #a0a0a0;
}

.faq dd:before {
    content: "A";
    font-size: 22px;
    color: #c52323;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 20px;
    margin: auto;
}


/* お客様の声 */

.voice {
    padding-left: 10px;
    padding-right: 10px;
}

.voice_list {
    box-sizing: border-box;
    border: 5px solid #f5f5f5;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 18px;
}

.vic_tx {
    width: 70%;
    float: right;
}

.vic_img {
    background: #333;
    width: 27%;
    height: 100px;
    float: left;
}

.vic_name {
    color: #333;
    font-size: 20px;
    border-bottom: 1px solid #414141;
    font-weight: bold;
}

.vic_cmt {
    font-size: 15px;
    margin-top: 20px;
}


/* 買い取り3P共通*/

.kaitori_cnt {
    padding: 0 10px;
}

.kaitori_tl {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.cnt01,
.cnt02,
.cnt03 {
    margin-bottom: 50px;
}

.cnt_tx {
    margin-top: 30px;
    font-size: 18px;
}

.cnt_tx01 {
    margin: 30px 0 40px 0;
    font-size: 18px;
}

.cnt_img {
    margin-top: 25px;
}

.kaitori_cnt table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 10px 0;
}

.kaitori_cnt table th {
    background-color: #f2f2f2;
    font-weight: bold;
    width: 35%;
    padding: 10px 0;
    vertical-align: middle;
    border: 1px solid #b1b1b1;
    font-size: 18px;
}

.kaitori_cnt table td {
    padding: 10px 0 0 10px;
    border: 1px solid #b1b1b1;
    border-left: none;
    font-size: 18px;
}

.kaitori_at {
    margin-bottom: 50px;
    font-size: 18px;
}


/* カテゴリ一覧*/

.cat_cnt {
    padding: 0 10px;
}

.cat_tl {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.cat_tx {
    margin: 20px 0 20px 0;
    font-size: 16px;

}

.cat_tx2 {
    margin: 0px 0 20px 0;
    font-size: 16px;

}


/* 買い取り実績*/

.container .intrItem_cnt h2 img {
    width: 95%;
    margin: 10px 2.5% 10px;
}

.container .intrItem_list {
    overflow: hidden;
    margin-bottom: 40px;
}


/* 問い合わせ*/

#mailform {
    padding: 0 10px;
}

.req {
    width: 30px;
    font-size: 12px;
    background: #cc0000;
    color: #fff;
    border-radius: 5px 5px;
    padding: 3px 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.form-group {
    margin-bottom: 15px;
}

#mailform input {
    margin-top: 10px;
    width: 95%;
    margin: 10px 2.5px 0;
}

#mailform input[type="text"],
#mailform input[type="email"],
#mailform input[type="tel"] {
    height: 30px;
    font-size: 18px;
}

textarea {
    width: 100%;
}

#mailform input[type="image"] {
    width: 44.5%;
    float: left;
    margin: 0 10px;
}

#mailform input[type="number"] {
    width: 44.5%;
    margin: 10px 10px;
    font-size: 18px;
    height: 30px;
}

.text-center {
    overflow: hidden;
    margin-bottom: 50px
}

label {
    font-size: 18px;
}

.control-label.col-sm-3.place {
    margin-top: 10px;
    display: block;
}

.city {
    margin-bottom: 20px;
}


/* カテゴリページ*/

li.box-4 {
    float: left;
    width: 45%;
    margin: 2.5%;
    padding: 2%;
    text-align: center;
    border: 1px solid #dbdbdb;
    float: left;
    box-sizing: border-box;
}

#box-jisseki p {
    margin: 0px;
}

.bx_img {
    /*width: 100%;
	height: 140px;*/
}

.bx_img img {
    width: 100%;
}

.itemName {
    /*height: 70px;*/
    font-size: 14px;
}
.itemdetail{
    border-top: 1px dashed #c8c8c8;
	text-align:left;
	padding-top:5px;
}

#box-jisseki {
    overflow: hidden;
}

#box-jisseki p.price {
    font-size: 20px;
    font-weight: bold;
    color: #be0000;
    padding: 5px 0;
}

#box-jisseki hr {
    border: 0;
    border-top: 1px dashed #c8c8c8;
    margin: 5px 0px;
    background-color: transparent;
}

#cat-jisseki {
    border: 1px solid #10223a;
    box-sizing: border-box;
    overflow: hidden;
    margin: 40px 10px;
}

#cat-jisseki h3.cat-jisseki_tl {
    margin-top: 0px;
    padding-left: 10px;
    background: #10223a;
    color: #fff;
    height: 60px;
    line-height: 60px;
}

#cat-jisseki .cat_jisseki_tx {
    font-size: 16px;
    padding: 10px;
}

.kaitori_point {
    background: #F4F4F4;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
}

.kaitori_point h3 {
    border-top: solid 1px #10223a;
    border-bottom: solid 1px #10223a;
    color: #10223a;
    font-size: 16px;
    font-weight: bold;
    background: none;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    text-align: center;
}

.box-jisseki-cat h3 {
    color: white !important;
    background-color: #10223a;
    background-image: none;
    margin: 5px 0;
	font-size: 12px;
}

#box-jisseki .sagaku {
    background-color: #efeff0;
    padding: 8px 2px;
    font-size: 16px;
    font-weight: bold;
}

#box-jisseki .sagaku span {
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.box-jisseki-cat h3 {
    padding: 5px;
}

.red {
    color: #dd3e00;
}

.blue {
    color: #4600f8;
}

.coint_bnr {
    margin-bottom: 20px;
}

.point_list {
    padding: 0 10px;
}

.obi_tl {
    margin-bottom: 15px;
    padding-left: 10px;
    background: #10223a;
    color: #fff;

}

.point_img {
    margin-bottom: 20px;
}

.bx_wrap {
    margin-bottom: 20px;
}

ul.style01 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    color: #FFF;
    font-size: 17px;
}

ul.style01 li {
    display: inline-block;
    width: 40%;
    height: 40px;
    margin: 0 1%;
    font-size: 12px;
    line-height: 40px;
    border: 1px solid #ccc;
    border-bottom: none;
    color: #333;
}

ul.style01 li.active {
    border: 1px solid #ccc;
    color: #b20000;
    border-bottom: none;
}

ul.style02 {
    text-align: center;
    color: #FFF;
    font-size: 16px;
}

ul.style02 li {
    display: inline-block;
    border: 1px solid #888;
    color: #333;
    width: 7%;
    margin: 5px 0;
    padding: 5px 0
}

ul.style02 li.active {
    border: 1px solid #333;
    background: #cdcdcd;
}

.panel {
    display: none;
}

.show {
    display: block;
}

section.panel {
    padding: 10px;
    font-size: 116%;
}

.bra_list {
    margin-top: 25px;
    border-top: 1px solid #ccc;
}

.bra_list li {
    border: 1px solid #ccc;
    border-top: none;
    /* height: 45px; */
    line-height: 15px;
    padding: 0 15px;
    font-size: 10px;
    padding: 10px 15px 5px;
}

.kijyun_cnt h2 img {
    width: 95%;
    margin: 0px 2.5% 5px 2.5%;
}

.braList_bx h2 img {
    width: 95%;
    margin: 20px 2.5% 25px;
}

.bra_list strong {
    display: block;
    font-size: 14px;
}

.top_brand {
    margin: 50px 0 0 0;
}


/* サービスについて　*/

.service_point {
    margin-bottom: 30px;
}

.service_point h3 img {
    margin-bottom: 20px;
}

.service_point dt {
    margin-bottom: 20px;
}

.service_point dd {
    font-size: 18px;
}


/* 買取方法　*/

.purchase_btn {
    background: #f5f5f5;
    padding: 20px 10px;
    overflow: hidden;
}

.purchase_btn li {
    float: left;
    width: 31%;
    margin: 0 1%;
}

.purchase_btn li img {
    width: 100%;
}

.kaitorihouhou {
    border: #f5f5f5 solid 10px;
    padding: 10px;
}

.kaitorihouhou {
    margin: 20px 0;
}

.kaitorihouhou dt {
    margin: 10px 0;
    font-size: 18px;
}

.kaitorihouhou dd {
    margin-bottom: 10px;
    font-size: 18px;
}

.cont_criterion dl {
    margin: 20px 0;
    overflow: hidden;
}


/* cont_ngitem */

.cont_ngitem {
    background: #fdfdfd;
    border: solid 1px #e3e3e3;
    padding: 20px;
    margin-bottom: 20px;
}

.cont_ngitem h4 {
    margin: 0 0 20px 0;
}

.cont_ngitem ul {
    background: #fdfdfd;
    border: solid 1px #e3e3e3;
    padding: 20px;
    margin: 20px 0;
}

.cont_ngitem li {
    background: url(../images/ng_ic.png) no-repeat 0 5px;
    padding-left: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.cont_ngitem li span {
    font-size: 14px;
}


/* ライン */

.line_tech dl {
    margin-bottom: 50px;
}

.line_tech dd {
    border: solid 3px #00c201;
    padding: 20px;
    text-align: left;
    line-height: 1.8em;
}

.line_tech ul {
    margin: 0 0 20px 0;
    padding: 0;
}

.line_tech li {
    background: url(../images/line_ic.png) no-repeat 0 5px;
    padding-left: 20px;
    list-style: none;
    font-weight: bold;
}


/* 下固定　ボタン */

.btm_nav h3 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.btm_nav {
    background-color: rgba(51, 51, 51, 0.8);

    position: fixed;
    bottom: 0px;
    width: 100%;
}

.btm_nav li {
    margin-right: 2%;
    float: left;
    width: 30%;
}

.btm_nav li:last-child {
    margin-right: 0px;
}


/*----- 追記 -----*/

.wpcf7-form img.ajax-loader {
    width: 16px;
    height: 16px;
}

.contactform .wpcf7-submit {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    max-width: 200px;
    background-color: #C89A37;
    border: 1px solid #D6A947;
    margin-bottom: 50px !important;
}


/*----- 買取実績タブ -----*/

.full_content {
    width: 95%;
    height: 980px;
    position: relative;
    margin: -10px auto 0 auto;
    clear: both;
}

.full_content .menu {
    width: 18%;
    height: 38px;
    float: left;
    font-size: 14px;
    list-style: none;
    padding: 5px 0;
    margin-left: 2px;
    text-align: center;
    display: block !important;
    cursor: pointer;
    color: #333;
    letter-spacing: -0.1em;
    font-weight: bold;
    border-right: dotted 1px #848484;
}

.full_content .menu:first-child {
    margin-left: 10px;
    border-left: dotted 1px #848484;
}

.full_content .hover {
    font-weight: bold;
    color: #27374d;
}

.full_content .content {
    width: 100%;
    height: 160vh !important;
    background: #FFF;
    top: 45px;
    left: 0;
    position: absolute;
}

.full_content .box-4 {
    width: 30%;
    margin: 1.5%;
}

.full_content .box-4 .bx_img {
    /*height:95px;*/
}

.full_content .box-4 .itemName {
    height: 27px;
    font-size: 12px;
    overflow: hidden;
    padding-top: 30px !important;
}

.full_content .box-4 .box-jisseki-cat {
    font-size: 12px;
}

.full_content .box-4 .price {
    font-size: 12px !important;
    letter-spacing: -0.1em;
}

.full_content .box-4 .price .small {
    font-size: 12px;
}

.full_content .box-4 .title p:first-child {
    font-size: 12px;
}

.full_content .box-4 .title p {
    font-size: 9px;
    letter-spacing: -0.1em;
}

#content #box-jisseki .sagaku {
    font-size: 10px !important;
}

#content #box-jisseki .sagaku .small {
    font-size: 10px !important;
}


/*==================================================
  BLOG一覧
==================================================*/

.bloglink {
    text-align: right;
    margin-bottom: 10px;
}

.postlist {
    float: left;
    width: 98%;
    margin-right: 2%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.postlist:nth-of-type(2n) {
    margin-right: 0;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}


/*==================================================
  買取LP
==================================================*/

.lp_main {
    margin: 0 10px;
}

.hikaku_img {
    margin:15px 0 10px;
}

.his_btn {
    overflow: hidden;
}

.his_btn li {
    width: 48%;
    margin: 1%;
    float: left;
}

.jyoutai_tl {
    background: #ccc;
    color: #333 !important;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    margin-top: 10px
}

#cat-point {
    margin-bottom: 20px;
}

#konna {
    background: #F0F0F0;
    padding: 20px 5px;
    margin-bottom: 20px;
}

#konna p {
    color: #333;
    text-align: center;
}

#konna p:last-child {
    text-align: left;
    font-size: 14px;
}

.jyoutai_img {
    text-align: center;
    margin: 5px 0 20px;
}

.jyoutai_img img {
    width: 57%;
}

#user_voice {
    margin: 20px 0 20px;
}

#user_voice h3 {
    background: #ccc;
    color: #fff !important;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user_comment h2 {
    background: #ccc;
    color: #fff !important;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/***** popup *****/

h5 {
    font-size: 18px;
    font-weight: bold;
    background: #EDEDED;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
}

.div_point p {
    line-height: 1.8em;
    margin-bottom: 1em;
}

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
    width: 92%;
    margin: 0 4%;
}

#div_point01,
#div_point02,
#div_point03,
#div_point04,
#div_point05,
#div_point06 {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    padding: 30px;
    font-size: 12px;
    line-height: 180%;
}

.modal_close{
  position: absolute;
  top: 12px;
  right:12px;
  display: block;
  width: 20px;
  height: 20px;
  background:url(images/close.png) no-repeat center center;
  background-size:cover;
  z-index:2;
}

/* MW WP Form */
#mailform input[type=radio] {
	width: initial;
}

span.mwform-radio-field-text {
	font-size: 85%;
}

div.mw_wp_form p.request_notice {
	font-size: 85%;
	margin: 10px 0 0;
}

div.mw_wp_form input[type=submit] {
	width: 200px;
	height: 45px;
	margin-right: 20px;
	padding: 0;
	color: white;
	text-shadow: none;
	font-size: large;
	font-weight: bold;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	letter-spacing: 1px;
	border-radius: 0;
	-webkit-appearance: none;
	border:1px solid #B6841D;
	background-image: -webkit-linear-gradient(#D7AA49 0%, #B6841D 100%);
	background-image: linear-gradient(#D7AA49 0%, #B6841D 100%);
}

div.mw_wp_form input.contact[type=submit] {
	width: 200px;
	height: 45px;
	margin-right: 20px;
	padding: 0;
	color: initial;
	text-shadow: initial;
	font-size: large;
	font-weight: initial;
	font-family: initial;
	letter-spacing: 2px;
	border-radius: 5px;
	-webkit-appearance: 5px;
	border:1px solid #CCC;
	background-image: initial;
}

div.mw_wp_form div.col-sm-9 select {
	width: 20%;
	height: 30px;
	font-size: 18px;
	margin: 5px 3px 0;
}

#mailform input[type=submit] {
	width: 170px;
	height: 38px;
}

#mailform form div.new_center span.error {
	line-height: 2 !important;
}

#mailform div.form-group input.acceptance {
	margin-bottom: 15px;
}

div.mw_wp_form_confirm.mw_wp_form_preview p.request_notice {
	display:none;
}

div.mw_wp_form_confirm.mw_wp_form_preview p.mt20 {
	display:none;
}

div.mw_wp_form_confirm.mw_wp_form_preview div.takuhai-kitform-box {
	display:none;
}

div.mw_wp_form_confirm.mw_wp_form_preview h2.kiyaku_ttl_sm {
	display:none;
}

div.mw_wp_form_confirm.mw_wp_form_preview div.kiyaku_sc {
	display:none;
}
