html { 
    scroll-behavior: smooth !important; 
}
div #sp-icon{
    width: 45px;
    height: 45px;
    right: 0;
    top: 0;
    background-color: white;
}
@keyframes customFade{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes left2right{
    from {
        margin-right: 0;
        visibility: inherit;
    }
    to {
        margin-right: 100%;
        visibility: hidden;                            
    }
}
@keyframes navSlide{
    from {
        right: -100%;
        visibility: hidden;
    }
    to {
        right: 0;
        visibility: initial;
    }
}
@keyframes navSlideRev{
    from {
        right: 0;
        visibility: initial;
    }
    to {
        right: -100%;
        /* visibility: hidden; */
    }
}
@keyframes right2left{
    from {
        position: relative;
        width: 0;
        visibility: hidden;
    }
    to {
        width: 100%;
        visibility: inherit;                            
    }
}
@media (max-width: 321px){
    .comp-image2{
        max-width: 110px !important;
        max-height: 50px !important;
    }
    .link-position{
        font-size: 90%;
    }
}


#menu_test{
    max-width: 600px;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    height: inherit;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 45px;
    right: -100%;
    bottom: 0;
    overflow-y: scroll;
    background-color: #efeeea;
    overflow-x: hidden;
    visibility: hidden;
}
.custom-backshadow{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
}
.comp-image{
    max-width: 260px;
    max-height: 52px;
}
.comp-image2{
    max-width: 125px;
    max-height: 50px;
}
.cus-ul-con{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.cus-ul{
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}
.cus-ul2{
    /* width: 100%; */
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
}
.cus-ul3{
    -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: auto 2;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 10px;
    column-rule: 2px double red;
}
.cus-ul3 li{
    width: 100%;
    /* min-width: 135px; */
    /* display: inline-block; */
    height: 100%;
    min-height: 31px;
    /* border-left: 5px solid #EFECE7;
    border-bottom: 1px solid #D0CECC; */
}
.cus-li{
    padding-top: 4px;
    padding-bottom:4px;
}
.cus-li2{
    padding-top: 5px;
    padding-bottom: 5px;
}
.cus-btn{
    /* min-width: 300px; */
    min-height: 50px;
    /*BrandRevalue*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#909090+0,909090+49,6b6b6b+49,6b6b6b+49,6b6b6b+94,5a5a5a+94 */
    background: #909090; /* Old browsers */
    background: -moz-linear-gradient(top, #909090 0%, #909090 49%, #6b6b6b 49%, #6b6b6b 49%, #6b6b6b 94%, #5a5a5a 94%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #909090 0%,#909090 49%,#6b6b6b 49%,#6b6b6b 49%,#6b6b6b 94%,#5a5a5a 94%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #909090 0%,#909090 49%,#6b6b6b 49%,#6b6b6b 49%,#6b6b6b 94%,#5a5a5a 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding-left: 10%;
    padding-right: 10%;
    border: none;
    cursor: pointer;
}
.btn1-content{
    display: none;
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
}
.btn2-content{
    display: none;
    word-wrap: break-word;
    background-color: white;
}
.btn3-content{
    display: none;
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
}
.cus-row{
    column-count: 2; 
    column-gap: 0;
}
.cus-row2{
    column-gap: 0;
}
.cus-col{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}
.link-con{
    position:relative; 
    min-height: 33px; 
    border-left: 5px solid #EFECE7; 
    border-bottom: 1px solid #D0CECC; 
    margin-left: 5px; 
    margin-right: 5px; 
    padding-right:25px; 
    padding-left: 5px;
}
.link-con2{
    position:relative; 
    min-height: 33px; 
    border-left: 5px solid #DD6464; 
    border-bottom: 1px solid #D0CECC; 
    margin-left: 5px; 
    margin-right: 5px; 
    padding-right:25px; 
    padding-left: 5px;
}
.link-position{
    /* display:contents; */
    position: absolute;
    padding-left: 5px;
    top: 50%;
    left: 0;
    width: 80%;
    transform: translate(0, -50%);
    letter-spacing: 0.15em;
    color: #444444;
}
.link-position2{
    /* display:contents; */
    position: absolute;
    padding-left: 5px;
    top: 50%;
    left: 0;
    width: 90%;
    transform: translate(0, -50%);
    letter-spacing: 0.15em;
    color: #444444;
}

#link-icon{
    background: url(/assets/images/chevron.@2x.png) no-repeat right white;
    background-size: 10px 15px;
    -webkit-appearance: none;
    background-position: right 10px center;
}
.btn-con{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    border: none;
    cursor: pointer;
}
#btn-close2{
    padding: 0px;
    border: none;
    cursor: pointer;
}
.align-center{
    text-align: center;
}