@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Japanese","ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #000;
  -webkit-text-size-adjust: 100%;
}

input, textarea {
  font-family:  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.sm {
  display: none;
}

a {
  transition-duration: .3s;
  color: #444;
  text-decoration: none;
}
  a:hover {
    opacity: .7;
  }

h1,h2,h3,p,ul,ol,li {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 30px 0;
  font-size: 40px;
}
h2 {
}

.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

/* **************************************** */

header.global {
  height: 80px;
  position: fixed;
  top: 0;
  background: #129e38;
  box-shadow: 0 3px 5px #ccc;
  width: 100%;
  z-index: 1000;
}
  header.global .logo {
    position: absolute;
    left: 0;
    top: 13px;
  }
  header.global .tel {
    position: absolute;
    right: 265px;
    top: 10px;
    width:251px;
    height:61px;
    background:url(../imgs/header_tel_bg.png) no-repeat;
  }
    header.global .tel .tel_number{
    position: absolute;
    color:#fff;
    font-size:30px;
    font-weight:200;
    top:20px;
    left:50px;
  }
  
  header.global .form {
    position: absolute;
    right: 0;
    top: 8px;
  }

/* **************************************** */

#fv {
  background: url(../imgs/fv_bg.jpg) no-repeat center;
  height: 650px;
  padding-top: 80px;
}
#fv .container {
}
  #fv h1 {
    text-align: left;
    position: absolute;
    left: -20px;
    top: 60px;
  }
  #fv .points {
    text-align: left;
    position: absolute;
    left: 0;
    top: 350px;
  }
    #fv .points li {
      margin: 0;
      display: inline-block;
      vertical-align: top;
      color: #37b6ef;
      text-align: center;
      width: 200px;
    }

#sec01 {
  background: #fff;
}
  #sec01 .container {
    height: 230px;
  }
  #sec01 h2 {
    font-size: 30px;
  }
  #sec01 p {
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
  }
  #sec01 .items {
    position: absolute;
    right: 0;
    top: -135px;
  }
  #sec01 .devices {
    width: 405px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

#sec02 {
  background: #fff url(../imgs/sec02_bg.png) repeat-x;
}
  #sec02 h2 {
    text-align: center;
    padding: 50px 0;
    position: absolute;
    top: 10px;
    left: 300px;
  }
  #sec02 table {
    border-collapse: separate;
    border-spacing: 4px;
    position: relative;
    width: 1000px;
  }
  #sec02 table caption {
    text-align: left;
    height: 206px;
    padding-left: 2px;
  }
  #sec02 table th {
    vertical-align: bottom;
    width: 500px;
    padding: 0;
  }
  #sec02 table th img {
    display: block;
  }
  #sec02 table td {
    width: 500px;
    text-shadow: 0 0 6px #fff, 0 0 6px #fff, 0 0 6px #fff, 0 0 6px #fff, 0 0 6px #fff, 0 0 6px #fff, 0 0 6px #fff;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.2;
  }
  #sec02 table td em {
    color: #d3293d;
    font-size: 130%;
    font-style: normal;
    font-weight: 400;
  }
  #sec02 table td strong {
    color: #d3293d;
    font-size: 180%;
    font-weight: 600;
  }
  #sec02 table td.td01 {
    background: url(../imgs/sec02_td_01.png) no-repeat;
    height: 153px;
  }
  #sec02 table td.td02 {
    background: url(../imgs/sec02_td_02.png) no-repeat;
    height: 153px;
  }
  #sec02 table td.td03 {
    background: url(../imgs/sec02_td_03.png) no-repeat;
    height: 115px;
    text-align: center;
    font-size: 30px;
    padding: 0;
  }
  #sec02 table td.td04 {
    background: url(../imgs/sec02_td_04.png) no-repeat;
    height: 155px;
  }
  #sec02 table td.td05 {
    background: url(../imgs/sec02_td_05.png) no-repeat;
    height: 155px;
  }

  #sec04 {
    background: url("../imgs/sec04_bg.png") no-repeat center bottom;
  }
    #sec04 h2 {
      text-align: center;
      padding-top: 75px;
    }
    #sec04 .sections {
      padding: 50px 0 100px 0;
    }
      #sec04 .sections section {
        background: #129e38;
        border-radius: 100%;
        width: 325px;
        height: 340px;
        color: #fff;
        float: left;
        padding-top: 30px;
        text-align: center;
        box-sizing: border-box;
        margin: 0 3px;
      }
      #sec04 .sections h3 {
        padding-top: 30px;
      }
      #sec04 .sections section:nth-child(1) {
        background-image: url(../imgs/sec04_sec1_bg.png);
        background-repeat: no-repeat;
        background-position: 200px 50px;
      }
      #sec04 .sections section:nth-child(2) {
        background-image: url(../imgs/sec04_sec2_bg.png);
        background-repeat: no-repeat;
        background-position: 220px 50px;
      }
      #sec04 .sections section:nth-child(2) h3 {
        padding-top: 15px;
      }
      #sec04 .sections section:nth-child(2) p {
        padding: .5em 3em 0 3em;
      }
      #sec04 .sections section:nth-child(3) {
        background-image: url(../imgs/sec04_sec3_bg.png);
        background-repeat: no-repeat;
        background-position: 30px 50px;
      }
      #sec04 .sections section:nth-child(3) h3 {
        padding-top: 45px;
      }
      #sec04 .sections section p {
        font-size: 14px;
        font-weight: 300;
        padding: .5em 2.5em 0 2.5em;
      }

  #sec05 {
    background: #ebfaef;
    padding-bottom: 50px;
  }
    #sec05 .flow li {
      display: block;
      float: left;
      margin-right: 28px;
    }
    #sec05 .flow li:last-child {
      margin-right: 0;
    }

  #sec06 {

  }
    #sec06 h2 {
      text-align: center;
      padding: 50px 0;
    }
    #sec06 .items li {
      display: block;
      float: left;
      background: #0a7441;
      padding: 4px;
      margin:0 16px 15px 0;
      box-sizing: border-box;
      height: 340px;
      color: #fff;
      position: relative;
      font-size: 14.5px;
    }
    #sec06 .items li:nth-child(6n) {
      margin-right: 0;
    }
    #sec06 .items li img {
      border: 1px solid #0a7441;
      outline: 2px solid #fff;
    }
    #sec06 .items li .name {
      text-align: center;
      font-size: 20px;
    }
    #sec06 .items li .price {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 5px;
    }
      #sec06 .items li .label {
        font-size: 14px;
      }
      #sec06 .items li .value {
        font-size: 24px;
        font-weight: 700;
      }

  #sec08 {
    background: url(../imgs/sec08_bg.png) no-repeat center top;
    height: 770px;
  }
    #sec08 h2 {
      text-align: center;
      padding: 150px 0 50px 0;
    }
    #sec08 .points {
      width: 700px;
      margin-left: 100px;
    }
    #sec08 .points li {
      display: block;
      float: left;
      background: url(../imgs/sec08_list_marker.png) no-repeat left center;
      width: 300px;
      box-sizing: border-box;
      padding-left: 50px;
      margin-bottom: 25px;
      font-size: 22px;
    }
    #sec08 .points li.long {
      width: 380px;
    }

  #sec09 {
    background: #ebfaef;
    padding-bottom:50px;
  }
    #sec09 h2 {
      text-align: center;
      padding: 60px 0;
    }
    #sec09 .sections section {
      display: block;
      float: left;
      background: url(../imgs/sec08_list_marker.png) no-repeat left center;
      width: 490px;
      height: 370px;
      padding: 20px 30px 30px 30px;
      margin: 0 10px 20px 0;
      box-sizing: border-box;
      font-size: 14px;
      background: #fff;
      box-shadow: 4px 4px 8px #bbb;
      position: relative;
      line-height: 1.8;
    }
    #sec09 .sections section:nth-child(2n) {
      margin: 0 0 20px 10px;
    }
    #sec09 .sections section h3 {
      border-bottom: 1px dashed #ccc;
      padding-left: 100px;
      padding-bottom: 10px;
      color: #0a7441;
    }
    #sec09 .sections section p {
      padding-left: 100px;
      margin-top: 1em;
      text-align: justify;
    }
    #sec09 .sections section img {
      position: absolute;
      top: 20px;
      left: 20px;
    }

  .secInquiry {
    background: #faf6da;
    margin-top: 80px;
  }
    .secInquiry .container {
      height: 285px;
    }
    .secInquiry p {
      font-size: 24px;
      padding: 50px 0 20px 0;
    }
    .secInquiry .copy {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .secInquiry .tel_block {
      margin-top: 15px;
      display: inline-block;
    width:249px;
    height:62px;
  	  background:url(../imgs/secInquiry_tel_bg.png) no-repeat;
      
    }
    
	.secInquiry .tel_block .tel_number{
    position: absolute;
    color:#000;
    font-size:30px;
    font-weight:200;
    top:225px;
    left:50px;
  }
    
        .secInquiry .tel_block_sp {
		display:none;
      
    }
    
    
    .secInquiry .form {
      margin: 15px 0 0 50px;
      display: inline-block;
    }

footer.global {
  background: #0a7441;
  color: #fff;
  padding-top: 30px;
}
  footer.global .form {
    margin-left: 10px;
  }
  footer.global .auths {
    font-size: 12px;
    font-weight: 300;
    margin: 25px 0;
  }
  footer.global .links {
    padding-bottom: 20px;
    font-size: 14px;
  }
  footer.global .links a {
    color: #fff;
  }
  footer.global .copyright {
    font-size: 14px;
    background: #60482c;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    line-height: 25px;
  }

  #sec10 {
    background: #fffdf0;
  }
    #sec10 h2 {
      text-align: center;
      padding: 50px 0;
    }
    #sec10 .sections {
    }
    #sec10 .sections section {
      display: block;
      float: left;
      background: url(../imgs/sec08_list_marker.png) no-repeat left center;
      width: 490px;
      height: 380px;
      padding: 20px 20px 20px 180px;
      margin: 0 10px 20px 0;
      box-sizing: border-box;
      font-size: 14px;
      background: #fff;
      box-shadow: 2px 2px 4px #999;
      position: relative;
      line-height: 1.5;
    }
    #sec10 .sections section:nth-child(2n) {
      margin: 0 0 20px 10px;
    }
    #sec10 .sections section p {
      text-align: justify;
    }
    #sec10 .sections section p strong {
      font-weight: inherit;
      border-bottom: 2px solid #d3293d;
    }
    #sec10 .sections section .name {
      text-align: right;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
    #sec10 .sections section img {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    .column {
      padding-top: 30px;
      padding-bottom: 80px;
    }
      .column h2 {
        color: #0a7441;
        border-left: 5px solid #0a7441;
        padding-left: .5em;
        margin-bottom: 1em;
        margin-top: 40px;
        font-size: 22px;
        font-weight: 500;
      }
      .column p {
        margin-bottom: 1.7em;
        font-size: 14px;
        line-height: 1.7;
        text-align: justify;
      }
      .column .cases {
        background: #e6f1ec;
        padding: 30px;
        margin-bottom: 20px;
      }
      .column .cases h3 {
        font-size: 18px;
        text-indent: -.5em;
      }
      .column .cases p {
        margin: 1em 0 0 0;
      }
      .column .points {
        background: #e6f1ec;
        padding: 30px;
        list-style: inside;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6;
      }

/* **************************************** */

  #form h2 {
    text-align: center;
    padding: 50px 0 10px 0;
    color: #37b6ef;
  }

  #form {
    position: relative;
    padding-bottom: 40px;
  }

  #form form {
    margin: 30px 0;
  }

  #form form input,
  #form form textarea {
    width: 100%;
    font-size: 18px;
    padding: .6em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 5px #ccc;
  }

  #form form table {
    border-collapse: separate;
    border-spacing: 8px;
    width: 100%;
  }
  #form form table th {
    background: #0a7441;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 1em;
    text-align: left;
    position: relative;
    width: 25%;
    vertical-align: top;
  }
  #form form table th label {
    width: 100%;
    display: inline-block;
  }
  #form form table th span {
    color: #f00;
    font-size: 14px;
    font-weight: 200;
    position: absolute;
    right: 1em;
  }

  #form .form-deco {
    position: absolute;
    bottom: 50px;
    right: -160px;
  }
  #form .info {
    font-size: 20px;
    font-family: serif;
    font-weight: 800;
    text-align: center;
    color: #de0f44;
    padding: .5em 0 2em 0;
  }
  #form .submitContainer {
    text-align: center;
    padding: 40px 0;
  }

  #form input[type=submit] {
    box-sizing: border-box;
    background: #d3293d;
    cursor: pointer;
    transition: .3s;
    width: 50%;
    color: #fff;
    padding: 1em 0;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    border-bottom: 4px solid #911827;
  }

  #form input[type="submit"]:hover {
	
  }

/* **************************************** */

@media screen and (max-width: 1264px) {
  #fv .containerOuter {
      background-size: cover;
  }
}

/* **************************************** */


@media screen and (max-width: 640px) {

  body {
    padding-top: 0;
    padding-bottom: 140px;
  }

  .lg {
    display: none !important;
  }
  .sm {
    display: inline-block;
  }

  .container {
    width: 600px;
  }

  header.global {
    position: absolute;
  }
  header.global .tel,
  header.global .form {
    display: none;
  }

  .footnav {
    position: fixed;
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    z-index: 1024;
    left: 0;
    bottom: 0;
    padding: 1em 0;
    text-align: center;
    background: rgba(255,255,255,.7);
    box-shadow: 0 -2px 5px #ccc;
  }
    .footnav a {
      margin: 5px;
    }

  #fv {
    background-image: url(../imgs/fv_bg_sm.png);
    background-position: center top;
    margin-top: 80px;
    padding: 0;
    height: auto;
  }
    #fv .container {
      height: 980px;
    }
    #fv h1 {
      padding: 0;
      position: absolute;
      top: 480px;
      left: -10px;
    }
      #fv h1 img {
        max-width: 620px;
      }

    #fv .points {
      left: 0;
      top: 750px;
    }
      #fv .points li {
        display: block;
        float: left;
        margin: 0;
      }
    #sec01 .items {
      right: 0;
      top: 0px;
      width: 310px;
    }
    #sec01 p {
      text-align: left;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.8;
      width: 280px;
    }

    #sec02 h2 {
      text-align: left;
      padding: 50px 0 10px 0;
      position: static;
    }

    #sec02 table {
      border-collapse: collapse;
      width: 600px;
      table-layout: fixed;
    }
    #sec02 table caption {
      text-align: left;
      height: 206px;
      padding-left: 2px;
    }
    #sec02 table th {
      vertical-align: bottom;
      width: 300px;
      padding: 0;
    }
    #sec02 table th img {
      display: block;
    }
    #sec02 table td {
      width: 300px;
      overflow: hidden;
      padding: 30px;
      font-size: 22px;
    }
    #sec02 table td em {
      font-size: 130%;
    }
    #sec02 table td strong {
      font-size: 180%;
      padding-bottom: 10px;
      display: inline-block;
      line-height: 1;
    }
    #sec02 table td.td01 {
      background: url(../imgs/sec02_td_01.png) no-repeat -120px;
      height: 160px;
    }
    #sec02 table td.td02 {
      background: url(../imgs/sec02_td_02.png) no-repeat -120px;
      height: 160px;
    }
    #sec02 table td.td03 {
      background: url(../imgs/sec02_td_03.png) no-repeat;
      height: 115px;
      text-align: center;
      font-size: 30px;
      padding: 0;
    }
    #sec02 table td.td04 {
      background: #cfece0 url(../imgs/sec02_td_04.png) no-repeat right 150px;
      height: 270px;
      vertical-align: top;
      padding: 30px 10px 0 30px;
    }
    #sec02 table td.td05 {
      background: url(../imgs/sec02_td_05_sm.png) no-repeat right bottom;
      height: 270px;
      vertical-align: top;
      padding: 60px 10px 0 10px;
    }

    #sec04 {
      height: 980px;
      background-image: url(../imgs/sec04_bg_sm.png);
    }

    #sec04 .sections section {
      position: absolute;
      float: none;
    }
    #sec04 .sections section p {
      font-size: 18px;
      font-weight: 200;
    }

    #sec04 .sections section:nth-child(1) {
      top: 200px;
    }
    #sec04 .sections section:nth-child(1) p {
      padding: .5em 2em 0 2em;
      line-height: 1.2;
    }
    #sec04 .sections section:nth-child(2) {
      top: 400px;
      left: 275px;
    }
    #sec04 .sections section:nth-child(2) h3 {
      padding-top: 36px;
    }
    #sec04 .sections section:nth-child(2) p {
      line-height: 1.2;
    }
    #sec04 .sections section:nth-child(3) {
      top: 600px;
    }
    #sec05 h2 {
      text-align: center;
      padding: 50px 0;
    }

    #sec05 .flow li {
      display: block;
      float: left;
      margin: 0 10px 15px 10px;
    }
    #sec05 .flow li:last-child {
      margin-right: 0;
    }

    #sec06 .items li {
      display: block;
      float: none;
      padding: 4px;
      margin: 0 16px 15px 0;
      box-sizing: border-box;
      height: 340px;
      position: absolute;
      font-size: 20px;
    }
    #sec06 .items li:nth-child(6n) {
      margin-right: 0;
    }
    #sec06 .items li img {
      border: 1px solid #0a7441;
      outline: 2px solid #fff;
    }
    #sec06 .items li .name {
      font-size: 22px;
    }
    #sec06 .items li .price {
      position: static;
      width: 100%;
    }
      #sec06 .items li .label {
        font-size: 20px;
        margin-top: 10px;
      }
      #sec06 .items li .value {
        font-size: 24px;
        font-weight: 700;
        text-align: left;
      }

    #sec08 {
      background: url(../imgs/sec08_bg_sm.png) no-repeat;
      height: 750px;
    }
    #sec08 h2 {
      padding: 130px 0 40px 0;
    }
    #sec08 .points {
      width: 600px;
      margin-left: 0px;
    }
    #sec08 .points li {
      width: 260px;
      padding-left: 45px;
      margin-bottom: 20px;
      font-size: 22px;
    }
    #sec08 .points li.long {
      width: 340px;
      letter-spacing: -1px;
    }

    #sec09 .container {
      width: 640px;
      padding-bottom: 80px;
    }
    #sec09 .sections section {
      float: none;
      width: 560px;
      height: 520px;
      margin: 0 10px;
      font-size: 20px;
      box-shadow: 4px 4px 8px #bbb;
      line-height: 1.8;
    }
    #sec09 .sections section:nth-child(2n) {
      margin: 0 0 20px 10px;
    }
    #sec09 .sections section h3 {
      font-size: 24px;
    }
    #sec09 .sections section p {
    }

    #sec10  {
      padding-bottom: 70px;
    }
    #sec10 .sections section {
      float: none;
      width: 100%;
      height: 500px;
      padding: 30px 30px 30px 180px;
      margin: 0 0 20px 0;
      font-size: 18px;
      box-shadow: 2px 2px 6px #666;
      line-height: 1.5;
    }
    #sec10 .sections section:nth-child(2n) {
      margin: inherit;
    }
    #sec10 .sections section p {
      text-align: justify;
      line-height: 1.6;
    }
    #sec10 .sections section p strong {
      font-weight: inherit;
      border-bottom: 2px solid #d3293d;
    }
    #sec10 .sections section .name {
      text-align: right;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
    #sec10 .sections section img {
      position: absolute;
      top: 35px;
      left: 20px;
    }

    .column {
      padding-bottom: 0;
    }
    .column h2 {
      font-size: 26px;
      font-weight: 600;
    }
    .column .cases h3 {
      font-size: 24px;
    }
    .column p {
      font-size: 20px;
    }
    .column .points {
      padding: 30px;
      list-style: outside;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.6;
      letter-spacing: -1px;
    }
      .column .points li {
        margin: 0 0 0 1em ;
      }

    .secInquiry {
      margin-top: 50px;
    }
    .secInquiry .container {
      height: 435px;
    }
    .secInquiry p {
      padding: 30px 0;
    }
    .secInquiry .copy {
      position: absolute;
      right: 0;
      bottom: 100px;
    }
    .secInquiry .tel {
      position: absolute;
      bottom: 20px;
    }
    
    
        .secInquiry .tel_block_sp {
		display:block;
      
    }
    
        .secInquiry .tel_block {
		display:none;
      
    }
    .secInquiry .form {
      position: absolute;
      bottom: 20px;
      right: 0;
    }

    footer.global {
      background: #0a7441;
      color: #fff;
      padding-top: 30px;
      text-align: center;
    }
      footer.global .form {
        margin-left: 0;
        padding-top: 10px;
        display: block;
      }
      footer.global .auths {
        font-size: 18px;
        text-align: left;
        font-weight: 200;
        margin: 25px 0;
      }
      footer.global .links {
        text-align: left;
        padding-bottom: 20px;
        font-weight: 300;
        font-size: 20px;
      }
      footer.global .links a {
        color: #fff;
      }
      footer.global .copyright {
        padding: 2em 0;
      }


  /* **************************************** */

  #form .form-deco {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 120px;
  }

    #form form table th {
      width: 40%;
      font-size: 18px;
    }

    #form form table td span {
      display: block;
    }
    #form input[type=submit] {
      background-image:url(../imgs/submit_sp_btn.png);
      width:77%;
    }
  /* **************************************** */

}
