@charset "utf-8";

/**************************************************

グローバルリセット（reset.cssCustom）

**************************************************/


html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, 
a, em, img, small, strike, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, table, caption,
tbody, tfoot, thead, tr, th, td , figure ,section , article , nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight:normal;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 
/* remember to define focus styles! */
:focus {
	outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
 
 
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
/*table {
	border-collapse: collapse;
	border-spacing: 0;
}*/img {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	vertical-align:top;
}
img:active {
	margin-top: auto;
}
