/* form validation */
label.error {
  display: inline-block;
  position: absolute;
  z-index: 5;
  left: 0px;
  bottom: 100%;
  margin-bottom: 10px;
  background-color: #c3272a;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  width: auto;
}
label.error:before {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 100%;
  margin: 0;
  left: 20px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #c3272a transparent transparent;
}
.with-validate {
  position: relative;
}
