@charset "UTF-8";

p.kakakuhyou {
  color:white;
  background-color:#224899;
  padding:5px;
  font-size:14px;
  font-weight:bold;
  text-align:center;
}

table.kakakuhyou {
  width:100%;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  border-collapse:collapse;
}

tr.kakakuhyou {
  background-color:#fef8e3;
}

td {
  border: solid 1px #dbdbdb;
}

tr.midashi th {
  color:white;
  text-align:center; !important;
  border: solid 1px #999999;
  background-color:#5470ac;
  padding:5px;
}

td.name {
  color:#333;
  padding:10px;
  text-align:left; !important;
}

td.teika {
  color:#333;
}

td.ritsu {
  color:#333;
}

td.kaitori {
  color:#c70506;
}

span.subname {
  color:#333;
  font-size:11px;
}