#slide-video-popup {
    display: none;
    position: absolute;
    z-index: 100000;
    background-color: #000;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 1000px;
}

#slide-video-popup-filter {
    top: 0;
    left: 0;
    width: 30000px;
    height: 30000px;
    display: none;
    text-indent: -9999px;
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 9999;
}
