@charset "utf-8";
/**************************************************

グローバルリセット（reset.cssCustom）

**************************************************/


html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, figure, section, article, nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
    font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
/*table {
	border-collapse: collapse;
	border-spacing: 0;
}*/img {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	vertical-align: top;
}
img:active {
	margin-top: auto;
}
a {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
a:hover {
	opacity: 0.8;
	filter: alpha(opacity=20);
}
