@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
body {
	color: #000;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.raleway {
	font-family: 'Raleway', sans-serif;
}
.cont_inner {
	width: 1000px;
	margin: 0 auto;
}
.inner {
	width: 1000px;
	margin: 0 auto;
}
.inner:after {
	content: "";
	clear: both;
	display: block;
}
.cont_inner:after {
	content: "";
	clear: both;
	display: block;
}
.pc_none {
	display: none;
}
header {
}
/* header */
#top-head {
	/*	top: -100px;
	position: absolute;
	width: 100%;
	margin: 100px auto 0;*/
	padding: 55px 0 0;
	line-height: 1;
	z-index: 999;
}
#top-head a, #top-head {
	color: #fff;
	text-decoration: none;
}
#top-head .inner {
	position: relative;
	width: 1240px;
}
#top-head .logo {
	color: #000;
	font-weight: 600;
	font-size: 24px;
}
#top-head .logo img {
	width: 100%;
}
#global-nav ul {
	list-style: none;
	position: absolute;
	right: 0;
	bottom: 15px;
	font-size: 14px;
}
#global-nav ul li {
	float: left;
}
#global-nav ul li a {
	padding: 0 20px;
	font-size: 15px;
}
#global-nav ul li:last-child a {
	padding: 0 0 0 8px;
}
/* Fixed */
#top-head.fixed {
	margin-top: 0;
	top: 0;
	position: fixed;
	background: #fff;
	background: #e70012;
	transition: top 0.65s ease-in;
	-webkit-transition: top 0.65s ease-in;
	-moz-transition: top 0.65s ease-in;
}
/* Toggle Button */
#nav-toggle {
	display: none;
	position: absolute;
	right: 12px;
	top: 14px;
	width: 34px;
	height: 36px;
	cursor: pointer;
	z-index: 101;
}
#nav-toggle div {
	position: relative;
}
#nav-toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #fff;
	color: #fff;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
	top: 0;
}
#nav-toggle span:nth-child(2) {
	top: 11px;
}
#nav-toggle span:nth-child(3) {
	top: 22px;
}
 @media screen and (max-width: 640px) {
#top-head, .inner {
	width: 100% !important;
	padding: 0 !important;
}
#top-head {
	top: 0;
	position: inherit;
	margin-top: 0;
}
/* Fixed reset */
#top-head.fixed {
	padding-top: 0;
}
#mobile-head {
	width: 100%;
	height: 8vh;
	z-index: 999;
	position: relative;
}
#top-head.fixed .logo, #top-head .logo {
	position: absolute;
	left: 13px;
	top: 18%;
	color: #333;
	font-size: 20px;
	width: 100%;
}
#global-nav {
	position: absolute;
	/* 開いてないときは画面外に配置 */
	top: -500px;
	background: #333;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
#global-nav ul {
	list-style: none;
	position: static;
	right: 0;
	bottom: 0;
	font-size: 14px;
}
#global-nav ul li {
	float: none;
	position: static;
}
#top-head #global-nav ul li a, #top-head.fixed #global-nav ul li a {
	width: 100%;
	display: block;
	color: #fff;
	padding: 18px 0;
}
#nav-toggle {
	display: block;
}
/* #nav-toggle 切り替えアニメーション */
.open #nav-toggle span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	transform: rotate(315deg);
}
.open #nav-toggle span:nth-child(2) {
	width: 0;
	left: 50%;
}
.open #nav-toggle span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-315deg);
	-moz-transform: rotate(-315deg);
	transform: rotate(-315deg);
}
/* #global-nav スライドアニメーション */
.open #global-nav {
	/* #global-nav top + #mobile-head height */
	-moz-transform: translateY(556px);
	-webkit-transform: translateY(556px);
	transform: translateY(556px);
}
}
.mv_area {
	position: relative;
	padding-top: 120px;
	height: 460px;
	margin-bottom: 100px;
}
.mv_box {
	background: url(../../images/mv01.png) no-repeat right top;
	background-size: cover;
	width: 80%;
	position: absolute;
	right: 0;
	height: 460px;
}
.mv_tx {
	margin-left: -15%;
	padding-top: 4%;
}
.mv_tx p:nth-of-type(1) {
	color: #fff;
	background: #17daa3;
	width: 300px;
	height: 55px;
	border: 1px solid #fff;
	box-sizing: border-box;
	font-size: 18px;
	text-align: center;
	line-height: 55px;
	margin-bottom: 50px;
}
.mv_tx p:nth-of-type(2) {
	font-size: 34px;
	font-weight: bold;
	display: inline;
	border-bottom: 2px solid #000;
}
.mv_tx ul {
	margin-top: 45px;
}
.mv_tx ul li {
	font-size: 16px;
}
.mv_tx ul li span {
	margin: 0 15px;
	color: #17daa3;
	font-size: 12px;
}
.pdl{
	font-size: 16px !important;
	color:#000 !important;
	
}
.content_ttl {
	font-size: 50px;
	font-weight: 600;
	text-align: center;
}
.content_ttl span {
	display: block;
	color: #17daa3;
	font-size: 16px;
}
.content_ttl span:after {
	display: block;
	content: "";
	width: 22px;
	height: 2px;
	margin: 25px auto 65px;
	background: #000;
}
.step {
	width: 90px;
	height: 90px;
	background: #17daa3;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	line-height: 1;
	position: absolute;
}
.step span.step_ttl {
	padding-top: 20px;
	display: block;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
}
.step span.step_num {
	font-size: 35px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}
.rec_cont01 ul:after {
	clear: both;
	content: "";
	display: block;
}
.rec_cont01 ul li {
	width: 460px;
	float: left;
	position: relative;
}
.rec_cont01 ul li:nth-child(odd) {
	margin-right: 55px;
}
.rec_cont01 ul li:nth-child(odd) .step {
	left: -13px;
	top: -23px;
}
.rec_cont01 ul li:nth-child(even) .step {
	top: -23px;
	right: -13px;
}
.rec_cont01 ul li:nth-child(even) {
	margin-top: 50px;
}
.rec_cont01 ul li p:nth-of-type(3) {
	margin: 20px 0 10px;
	text-align: center;
}
.rec_cont02 {
	background: url(../../images/rec02_bg.png) center top;
	padding: 95px 0;
	margin: 90px 0 0;
}
.rec_cont02 ul {
	overflow: hidden;
	width: 815px;
	margin: 0 auto;
}
.rec_cont02 ul li {
	width: 170px;
	height: 170px;
	float: left;
	background: -webkit-linear-gradient(top, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	background: -o-linear-gradient(top, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	background: -ms-linear-gradient(top, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	background: -moz-linear-gradient(top, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	background: linear-gradient(to bottom, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	text-align: center;
	margin-right: 45px;
	position: relative;
	margin-bottom: 24px;
}
.rec_cont02 ul li:nth-child(4), .rec_cont02 ul li:last-child {
	margin-right: 0;
}
.rec_cont02 ul li:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #000000;
	display: block;
	position: absolute;
	top: 85px;
	right: -25px;
}
.rec_cont02 ul li p:nth-of-type(1) {
	color: #fff;
	font-size: 27px;
	font-weight: 600;
	margin: 30px 0 10px;
}
.rec_cont02 ul li p:nth-of-type(2) {
	font-size: 12px;
	font-weight: bold;
}
.rec_cont02 ul li:nth-child(4):after, .rec_cont02 ul li:last-child:after {
	display: none;
}
.rec_cont02 ul li:nth-child(5) {
	margin-left: 105px;
}
.rec_cont02 ul li:nth-child(5):before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #000000;
	display: block;
	position: absolute;
	top: 85px;
	left: -25px
}
.rec_cont03 {
	background: url(../../images/message_bg.png) no-repeat center top;
	height: 780px;
	background-size: cover;
	position: relative;
}
.message_area {
	width: 595px;
	height: 595px;
	background: #fff;
	margin: auto;
	border-radius: 50%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
}
.message_box {
	padding-top: 100px;
}
.message_box p {
	text-align: center;
	line-height: 2;
}
.message_box .content_ttl span:after {
	display: block;
	content: "";
	width: 22px;
	height: 2px;
	margin: 25px auto 45px;
	background: #000;
}
.rec_cont04 {
	margin-top: 100px;
}
.rec_cont04 h2 {
	font-size: 38px;
	text-align: center;
}
.rec_cont04 h2:after {
	display: block;
	content: "";
	width: 22px;
	height: 2px;
	margin: 25px auto 65px;
	background: #000;
}
.rec_cont04 table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border-top: 1px solid #bcbcbc;
}
.rec_cont04 table th {
	width: 170px;
	padding: 15px 20px 15px 30px;
	background: #fafafa;
	border-bottom: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	border-left: 1px solid #bcbcbc;
	text-align: left;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 15px;
}
.rec_cont04 table td {
	width: 780px;
	padding: 15px 20px 15px 30px;
	border-bottom: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	text-align: left;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 15px;
}
footer {
	border-top: 1px solid #000;
	text-align: center;
	margin-top: 120px;
	padding: 50px 0
}
footer p small {
	font-size: 13px;
	font-weight: 600;
}


.link_btn a {
	display: block;
	font-size: 14px;
	display: block;
	background: #000;
	color: #fff;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float:left;
}
.link_btn02 a {
	display: block;
	font-size: 14px;
	display: block;
	background:#d31d2f;
	color: #fff;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float:right;
}

.btn_wrap{
	overflow:hidden;
	width:610px;
	margin:30px auto;
}


 @media screen and (max-width: 640px) {
.pc_none {
	display: block;
}
.cont_inner {
	width: 90%;
	padding: 0 5%;
	overflow: hidden;
}
.inner {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
/* header */
#top-head {
	/*	top: -100px;
	position: absolute;
	width: 100%;
	margin: 100px auto 0;*/
	padding: 55px 0 0;
	line-height: 1;
	z-index: 999;
}
#top-head .inner {
	position: relative;
	width: 100%;
}
.mv_area {
	position: relative;
	padding-top: 0px;
	height: 40vh;
	margin-bottom: 100px;
}
.mv_box {
	background: url(../../images/mv01.png) no-repeat right 35% top;
	background-size: cover;
	width: 90%;
	position: absolute;
	right: 0;
	height: 40vh;
}
.mv_tx {
	margin-left: -7%;
	padding-top: 8%;
}
.mv_tx p:nth-of-type(1) {
	color: #fff;
	background: #17daa3;
	width: 150px;
	height: auto;
	border: 1px solid #fff;
	box-sizing: border-box;
	font-size: 10px;
	text-align: center;
	line-height: normal;
	padding: 8px 0;
	margin-bottom: 10px;
}
.mv_tx p:nth-of-type(2) {
	font-size: 16px;
	font-weight: bold;
	display: inline;
	border-bottom: 2px solid #000;
	line-height: 2;
}
.pdl {
	padding-right: 30px;
}
.mv_tx ul {
	margin-top: 15vh;
	padding-left: 8%;
}
.mv_tx ul li {
	font-size: 11px;
	font-weight: 600;
	line-height: 1.3;
}
.mv_tx ul li:nth-child(1) {
	margin-bottom: 10px;
}
.mv_tx ul li span {
	margin: 0 15px;
	color: #17daa3;
	font-size: 10px;
	vertical-align: middle;
}
.pdl {
	padding-left: 48px ;
	font-size: 11px !important;
	font-weight: 600;
	color: #000 !important;
}
.content_ttl {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
}
.content_ttl span {
	display: block;
	color: #17daa3;
	font-size: 10px;
	font-weight: 600;
}
.content_ttl span:after {
	display: block;
	content: "";
	width: 22px;
	height: 2px;
	margin: 10px auto 45px;
	background: #000;
}
.step {
	width: 60px;
	height: 60px;
	background: #17daa3;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	line-height: 1;
	position: absolute;
}
.step span.step_ttl {
	padding-top: 15px;
	display: block;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
}
.step span.step_num {
	font-size: 17px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}
.rec_cont01 ul:after {
	clear: both;
	content: "";
	display: block;
}
.rec_cont01 ul li {
	width: 90%;
	position: relative;
	margin-bottom: 20px;
}
.rec_cont01 ul li img {
	width: 100%;
}
.rec_cont01 ul li:nth-child(odd) {
	margin-right: auto;
	float: left;
}
.rec_cont01 ul li:nth-child(odd) .step {
	left: -13px;
	top: -23px;
}
.rec_cont01 ul li:nth-child(even) .step {
	top: -23px;
	right: -13px;
}
.rec_cont01 ul li:nth-child(even) {
	margin-top: auto;
	float: right;
}
.rec_cont01 ul li p:nth-of-type(3) {
	margin: 20px 0 10px;
	text-align: center;
	font-size: 12px;
}
.rec_cont02 {
	background: url(../../images/rec02_bg.png) center top;
	padding: 40px 0;
	margin: 30px 0 0;
}
.rec_cont02 ul {
	overflow: hidden;
	width: 325px;
	margin: 0 auto;
}
.rec_cont02 ul li {
	width: 140px;
	height: 140px;
	float: left;
	background: -webkit-linear-gradient(top, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	background: -o-linear-gradient(top, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	background: -ms-linear-gradient(top, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	background: -moz-linear-gradient(top, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	background: linear-gradient(to bottom, rgb(28, 236, 177) 0%, rgb(28, 236, 213) 100%);
	text-align: center;
	margin-right: 45px;
	position: relative;
	margin-bottom: 24px;
}
.rec_cont02 ul li:nth-child(4), .rec_cont02 ul li:last-child {
	margin-right: 0;
}
.rec_cont02 ul li:nth-child(2), .rec_cont02 ul li:nth-child(6) {
	margin-right: 0;
}
.rec_cont02 ul li:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #000000;
	display: block;
	position: absolute;
	top: 85px;
	right: -25px;
}
.rec_cont02 ul li p:nth-of-type(1) {
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	margin: 15px 0 10px;
}
.rec_cont02 ul li p:nth-of-type(2) {
	font-size: 10px;
	font-weight: bold;
}
.rec_cont02 ul li:nth-child(2):after, .rec_cont02 ul li:nth-child(4):after, .rec_cont02 ul li:nth-child(6):after, .rec_cont02 ul li:last-child:after {
	display: none;
}
.rec_cont02 ul li:nth-child(5) {
	margin-left: 0;
}
.rec_cont02 ul li:nth-child(5):before {
	display: none;
}
.rec_cont03 {
	background: url(../../images/message_bg.png) no-repeat center top;
	height: auto;
	background-size: 100%;
	position: relative;
	padding-top: 23vh;
}
.message_area {
	width: 90%;
	height: auto;
	background: #fff;
	margin: auto;
	border-radius: 0;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: inherit;
}
.message_box {
	padding-top: 30px;
}
.message_box p {
	text-align: center;
	line-height: 2;
	font-size: 12px;
}
.message_box .content_ttl span:after {
	display: block;
	content: "";
	width: 22px;
	height: 2px;
	margin: 10px auto 25px;
	background: #000;
}
.rec_cont04 {
	margin-top: 100px;
}
.rec_cont04 h2 {
	font-size: 20px;
	text-align: center;
}
.rec_cont04 h2:after {
	display: block;
	content: "";
	width: 22px;
	height: 2px;
	margin: 10px auto 25px;
	background: #000;
}
.rec_cont04 table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border-top: 1px solid #bcbcbc;
}
.rec_cont04 table th {
	width: 25%;
	padding: 15px 10px 15px 10px;
	background: #fafafa;
	border-bottom: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	border-left: 1px solid #bcbcbc;
	text-align: left;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 12px;
}
.rec_cont04 table td {
	width: 75%;
	padding: 15px 15px 15px 10px;
	border-bottom: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	text-align: left;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 12px;
}
footer {
	border-top: 1px solid #000;
	text-align: center;
	margin-top: 120px;
	padding: 50px 0
}
footer p small {
	font-size: 13px;
	font-weight: 600;
}

.link_btn a {
	display: block;
	font-size: 14px;
	display: block;
	background: #000;
	color: #fff;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float:none;
}
.link_btn02 a {
	display: block;
	font-size: 14px;
	display: block;
	background:#d31d2f;
	color: #fff;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float:none;
	margin-top:10px;
}

.btn_wrap{
	overflow:hidden;
	width:300px;
	margin:30px auto;
}

}





